# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\flask-blockchain-master\flask-blockchain-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
